<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Crypto helper</title>
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <a href="#">Crypto helper</a>
        <a href="#">JWT/JWE</a>
        <a href="#">About</a>
    </header>
    <article>
        {% block content %} {% endblock %}
    </article>
    <footer>
        <span>Crypto helper Copyright © 2022 Pavlo Myroniuk; released as <a
                href="https://github.com/TheBestTvarynka/crypto-helper">open source</a> under the
            <a href="https://github.com/TheBestTvarynka/crypto-helper/blob/main/LICENSE">MIT</a>
            license.</span>
        <span>Icons by: <a href="https://icons8.com">icons8.com</a></span>
    </footer>
</body>

</html>