{% extends "base.html" %}

{% block content %}
<div class="wide">
  <link rel="stylesheet" href="crypto_helper/style.css">
  <link rel="stylesheet" href="input.css">
  <script src="crypto_helper/script.js"></script>

  <div class="horizontal">
    <div class="vertical">
      <!-- <span>Algo:</span> -->
      <select id="algorithm" onchange="onAlgorithmChange()" class="base-input">
        <option value="sha1" selected>SHA1</option>
        <option value="sha256">SHA256</option>
        <option value="sha512">SHA512</option>
        <option value="aes256-cts-hmac-sha1-96">AES128-CTS-HMAC-SHA1-96</option>
      </select>
    </div>

    <div class="selectable-info">
      <span id="current-algorithm-info" name="sha1-info">Hash hex-encoded input using SHA1 hashing function.<a href="https://www.rfc-editor.org/rfc/rfc3174">RFC</a>.</span>
      <span name="sha256-info">Hash hex-encoded input using SHA256 hashing function.<a href="https://datatracker.ietf.org/doc/html/rfc4634">RFC</a>.</span>
      <span name="sha512-info">Hash hex-encoded input using SHA512 hashing function.<a href="https://datatracker.ietf.org/doc/html/rfc4634">RFC</a>.</span>
      <span name="aes256-cts-hmac-sha1-96-info">Encrypt hex-encoded data with the provided or derived key using AES128-CTS-HMAC-SHA1-96 algorithm.<a href="https://www.rfc-editor.org/rfc/rfc3961.html">RFC</a>.</span>
    </div>
  </div>

  <div class="selectable-in">
    <div id="current-algorithm-in" name="sha1-in">
      <textarea class="base-input" rows="2" placeholder="sha1 in"></textarea>
    </div>
    <div name="sha256-in">
      <textarea class="base-input" rows="2" placeholder="sha256 in"></textarea>
    </div>
    <div name="sha512-in">
      <textarea class="base-input" rows="2" placeholder="sha512 in"></textarea>
    </div>
    <div name="aes256-cts-hmac-sha1-96-in">
      <input placeholder="aes256-cts-hmac-sha1-96 in key">
      <input placeholder="aes256-cts-hmac-sha1-96 in plaintext">
    </div>
  </div>

  <div class="selectable-out">
    <div id="current-algorithm-out" name="sha1-out" class="output">
      <span>SHA1 out</span>
    </div>
    <div name="sha256-out" class="output">
      <span>SHA256 out</span>
    </div>
    <div name="sha512-out" class="output">
      <span>SHA512 out</span>
    </div>
    <div name="aes256-cts-hmac-sha1-96-out" class="output">
      <span>cipher</span><span>hmac</span>
    </div>
  </div>
</div>
{% endblock content %}