
.wide {
    width: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.selectable-info > :not(#current-algorithm-info) {
    display: none;
}

.selectable-info a {
    color: inherit;
    text-decoration: underline;
    padding: 0 0.2em 0 0.2em;
    border-radius: 0.2em;
}

.selectable-info a:hover {
    background-color: #50437f;
    color: #dbcfbf;
    cursor: pointer;
}

.selectable-in {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 100%;
}

.selectable-in div:not(#current-algorithm-in) {
    display: none;
}

.selectable-out {
    width: 100%;
}

.selectable-out div:not(#current-algorithm-out) {
    display: none;
}

.output {
    width: calc(100% - 1em);
    padding: 0.5em;
    border-top: 3px solid #c45f52;
    background: #edd5ce;
    border-radius: 0.2em;
}
