.notifications {
  position: absolute;
  right: 2em;
  bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.info {
  background-color: #c0ebdd;
}

.warn {
  background-color: #9cb8e6;
}

.error {
  background-color: #f08694;
}

.notification {
  cursor: pointer;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.notification > .time {
  font-size: 0.7em;
  color: #4c5159;
}
