.compare-button {
    border-radius: 0.2em;
    padding: 0.1em;
    cursor: pointer;
    border: 2px solid transparent;
    height: 1.8em;
}

.compare-input {
    display: none;
}

.compare-input:checked + .compare-button {
    border: 2px solid #4c5159;
    background: aliceblue;
}

.compare-button:hover {
    background: aliceblue;
}

.compare-button img {
    height: 90%;
}

.compare-container {
    width: 100%;
    margin-top: 0.5em;
}

.compare-input-success, .base-input.compare-input-success {
    background: #bbebae;
    border-color: #bbebae;
}

.compare-input-success:focus, .base-input.compare-input-success:focus {
    border-bottom: 3px solid #426937;
    outline: none;
}

.compare-input-fail, .base-input.compare-input-fail {
    background: #e3aaae;
    border-color: #e3aaae;
}

.compare-input-fail:focus, .base-input.compare-input-fail:focus {
    border-bottom: 3px solid #99393f;
    outline: none;
}
