
.wide {
    width: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

.selectable-info > :not(#current-algorithm-info) {
    display: none;
}

.selectable-info a {
    color: inherit;
    text-decoration: underline;
    padding: 0 0.2em 0 0.2em;
    border-radius: 0.2em;
    transition: all 0.2s;
}

.selectable-info a:hover {
    background-color: #50437f;
    color: #dbcfbf;
    cursor: pointer;
}

.selectable-in {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 100%;
}

.selectable-in div:not(#current-algorithm-in) {
    display: none;
}

.selectable-out {
    margin-bottom: 0.5em;
    margin-top: 0.8em;
    width: 100%;
}

.selectable-out div:not(#current-algorithm-out) {
    display: none;
}

.total {
    font-size: 0.9em;
    color: #4c5159;
}

.output {
    width: calc(100% - 1em);
    padding: 0.5em;
    border-top: 3px solid #c45f52;
    background: #edd5ce;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

button {
    font-family: 'JetBrains Mono', monospace;
    width: fit-content;
}

.tool {
    display: inline-flex;
    cursor: pointer;
    height: 1.8em;
    width: fit-content;
    padding: 0.1em;
    border-radius: 0.2em;
    justify-content: center;
    align-items: center;
}

.tool:hover {
    background-color: aliceblue;
}

.tool > img {
    height: 90%;
}
