
/* can be replaced with: https://codepen.io/alvarotrigo/pen/abVPyaJ */

.switch_input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch_label {
	cursor: pointer;
	text-indent: -9999px;
	width: 3em;
	height: 1.5em;
	background: grey;
	display: block;
	border-radius: 1.5em;
	position: relative;
}

.switch_label:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1.5em;
	height: 1.5em;
	background: #fff;
	border-radius: 1.5em;
	transition: 0.3s;
}

.switch_input:checked + .switch_label {
	background: #bada55;
}

.switch_input:checked + .switch_label:after {
	left: calc(100%);
	transform: translateX(-100%);
}

.switch_label:active:after {
	width: 1.95em;
}
