
.terminal-asn1-node {
    display: inline-flex;
    gap: 0.5em;
    align-items: center;
}

.terminal-asn1-node:hover > span:first-child {
    text-decoration: underline;
    cursor: pointer;
}

.asn1-constructor-header {
    display: inline-flex;
    gap: 0.5em;
}

.asn1-constructor-header:hover {
    font-weight: bold;
    cursor: pointer;
}

.asn1-constructor-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1em;

    padding-left: 1.5em;
    border-left: 2px solid #70a66c;
}

.asn1-node-info-label {
    font-size: 0.8em;
    color: #4c5159;
    align-self: center;
}

.asn-simple-value {
    border: none;
    border-radius: 0.2em;
    padding: 0.2em;
    background-color: #aab7ce;
}

.asn-bool-true {
    border: none;
    border-radius: 0.2em;
    padding: 0.2em;
    background-color: #0e7e4a;
    color: #e1da97;
}

.asn-bool-false {
    border: none;
    border-radius: 0.2em;
    padding: 0.2em;
    background-color: #ba0021;
    color: #f5bdb6;
}

.hover_node {
    border: 2px solid rebeccapurple;
}