
.terminal-asn1-node {
    display: inline-flex;
    gap: 0.5em;
    align-items: center;
    cursor: crosshair;
}

.asn1-constructor-header {
    display: inline-flex;
    gap: 0.5em;
}

.asn1-constructor-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1em;

    padding-left: 1.5em;
    border-left: 2px solid #70a66c;
}

.asn1-node-info-label {
    font-size: 0.8em;
    color: #4c5159;
    align-self: center;
}

.asn-simple-value {
    border: none;
    border-radius: 0.1em;
    padding: 0.1em 0.2em 0.1em 0.2em;
    background-color: #aab7ce;
    font-size: 0.9em;
}

.asn-bool-true {
    border: none;
    border-radius: 0.2em;
    padding: 0.2em;
    background-color: #0e7e4a;
    color: #e1da97;
}

.asn-bool-false {
    border: none;
    border-radius: 0.2em;
    padding: 0.2em;
    background-color: #ba0021;
    color: #f5bdb6;
}

.hover_node {
    background: #edd5ce;
}

.asn1-button-with-icon {
    font-size: 0.7em;
    width: auto;
    height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1em 0.2em 0.1em 0.2em;
    border-radius: 0.2em;
    border: 1px solid transparent;
    transition: 0.3s;
}

.asn1-button-with-icon>img {
    height: 90%;
}

.asn1-button-with-icon:hover {
    cursor: pointer;
    transition: 0.3s;
}

.asn1-node-options-container {

}

.asn1-node-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.8em;
    width: max-content;
    position: absolute;
    left: 0;
    bottom: 0.5em;

    background: #dbcfbf;
    color: #50437f;
    padding: 0.3em;
    border-radius: 0.3em;
}
