body {
    font-family: 'JetBrains Mono', monospace;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
}

article {
    margin-top: 1em;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
