.base-input {
    font-family: 'JetBrains Mono', monospace;
    background: #dbcfbf;
    padding: 0.2em;
    margin: 0;
    width: calc(100% - 0.4em - 6px);
    color: #50437f;
    border: 3px solid #dbcfbf;
    border-radius: 3px;
    font-size: 0.9em;
    resize: vertical;
    transition: all 0.2s;
}

.wide-input {
    width: 100%;
}

.base-input:focus {
    border-bottom: 3px solid #7d5541;
    outline: none;
}

.auto-width-input {
	width: auto;
	align-self: flex-start;
}

.switch_span {
    display: inline-flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.switch_input[type=checkbox]{
	height: 0;
	width: 0;
    padding: 0;
    margin: 0;
	visibility: hidden;
}

.switch_label {
	cursor: pointer;
	text-indent: -9999px;
	width: 2em;
	height: 1em;
	background: #a562e3;
	display: block;
	border-radius: 1em;
	position: relative;
}

.switch_label:after {
	content: '';
	position: absolute;
	top: 0.15em;
	left: 0.15em;
	width: 0.7em;
	height: 0.7em;
	background: #ebdcd8;
	border-radius: 0.7em;
	transition: 0.3s;
}

.switch_input:checked + .switch_label {
	background: mediumvioletred;
}

.switch_input:checked + .switch_label:after {
	left: calc(100% - 0.15em);
	transform: translateX(-100%);
}

.switch_label:active:after {
	width: 1.3em;
}
