.base-input {
    font-family: 'JetBrains Mono', monospace;
    background: #dbcfbf;
    padding: 0.2em;
    border-radius: 3px;
    margin: 0;
    width: calc(100% - 0.4em - 6px);
    color: #50437f;
    border: 3px solid #dbcfbf;
    font-size: 0.9em;
    resize: vertical;
    transition: all 0.2s;
}

.input-error {
    color: #3714ba;
    border-color: #f07b6e;
    background-color: #f07b6e;
}

.wide-input {
    width: 100%;
}

.base-input:focus {
    border-bottom: 3px solid #7d5541;
    outline: none;
}

.auto-width-input {
	width: auto;
	align-self: flex-start;
}

.switch_span {
    display: inline-flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.switch_input[type=checkbox]{
	height: 0;
	width: 0;
    padding: 0;
    margin: 0;
	visibility: hidden;
}

.switch_label {
	cursor: pointer;
	text-indent: -9999px;
	width: 2em;
	height: 1em;
	background: #a562e3;
	display: block;
	border-radius: 1em;
	position: relative;
}

.switch_label:after {
	content: '';
	position: absolute;
	top: 0.15em;
	left: 0.15em;
	width: 0.7em;
	height: 0.7em;
	background: #ebdcd8;
	border-radius: 0.7em;
	transition: 0.3s;
}

.switch_input:checked + .switch_label {
	background: mediumvioletred;
}

.switch_input:checked + .switch_label:after {
	left: calc(100% - 0.15em);
	transform: translateX(-100%);
}

.switch_label:active:after {
	width: 1.3em;
}

.formats-container {
	display: inline-flex;
	justify-content: flex-start;
	gap: 0.1em;
}

.format-button {
    font-size: 0.7em;
    color: #403735;
    background-color: transparent;
    padding: 0.2em 0.2em 0.2em 0.2em;
    border-radius: 0.2em;
    border: 2px solid transparent;
    font-family: 'JetBrains Mono', monospace;
    transition: 0.3s;
}

.format-button:hover {
    cursor: pointer;
    border: 2px solid #736664;
}

.format-button-selected {
    color: #e0e0e0;
    background-color: #736664;
}

.bytes-input {
    width: 100%;
    background: transparent;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.checkbox {
    position: relative;
}

.checkbox input[type="checkbox"] {
    visibility: hidden;
}

.checkbox input[type="checkbox"]:checked + .checkbox-label:after {
    opacity: 1;
}

.checkbox .checkbox-label {
    background: none repeat scroll 0 0 #dbcfbf;
    border: 1px solid #dbcfbf;
    border-radius: 0.15em;
    cursor: pointer;
    height: 1em;
    width: 1em;
    left: 0;
    top: 0.12em;
    position: absolute;
}

.checkbox .checkbox-label:after {
    border-style: none none solid solid;
    content: "";
    height: 0.2em;
    width: 0.4em;
    left: 0.23em;
    top: 0.28em;
    opacity: 0;
    position: absolute;
    -ms-transform:rotate(-45deg); /* IE 9 */
    -webkit-transform:rotate(-45deg); /* Safari and Chrome */
    transform:rotate(-45deg);
}