body {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    background-color: #e0e0e0;
}

.body {
    font-family: 'JetBrains Mono', monospace;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    margin-top: 1em;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.algo-info {
    align-self: start;
}

.algo-info a {
    color: inherit;
    text-decoration: underline;
    padding: 0 0.2em 0 0.2em;
    border-radius: 0.2em;
    transition: all 0.2s;
}

.algo-info a:hover {
    background-color: #50437f;
    color: #dbcfbf;
    cursor: pointer;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    justify-content: flex-start;
}

.container {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 100%;
}

.total {
    font-size: 0.8em;
    color: #4c5159;
}

.output {
    width: calc(100% - 1em);
    padding: 0.5em;
    border-top: 3px solid #c45f52;
    background: #edd5ce;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.simple-digest {
    word-wrap: break-word;
    width: fit-content;
    max-width: calc(100% - 0.4em);
    // color: #1a3a6e;
    color: blueviolet;
    transition: all 0.3s;
    padding: 0.2em;
}

.simple-digest:hover {
    cursor: pointer;
    text-decoration: underline;
}

.bytes-container {
    background-color: #403735;
    padding: 0.05em;
    border-radius: 2px;
}

.byte-null {
    color: red;
}

.byte-printable {
    color: cyan;
}

.byte-whitespace {
    color: green;
}

.byte-ascii {
    color: rgb(232, 52, 210);
}

.byte-other {
    color: yellow;
}

.button-with-icon {
    font-size: 0.7em;

    width: 3em;
    height: 2em;
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // background-color: #403735;
    padding: 0.1em 0.2em 0.1em 0.2em;
    border-radius: 0.2em;
    border: 1px solid transparent;
    transition: 0.3s;
}

.button-with-icon>img {
    width: 90%;
}

.button-with-icon:hover {
    cursor: pointer;
    transition: 0.3s;
    // background-color: #403735;
}

.button-with-icon:focus {
    box-shadow: 0 0 0 2px #736664;
}

.action-button {
    font-size: 1em;
    color: #e0e0e0;
    background-color: #646a73;
    padding: 0.2em 0.4em 0.2em 0.4em;
    border-radius: 0.3em;
    font-family: 'JetBrains Mono', monospace;
    border: 1px solid transparent;
    transition: 0.3s;
}

.action-button:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #e0e0e0;
    background-color: #414e61;
}

.action-button:focus {
    box-shadow: 0 0 0 2px #314157;
}

.table-container {
    background: #e0e0e0;
    width: 100%;
    display: grid;
    grid-template-columns: 30% auto;
    gap: 0.2em;
}

.table-cell {
    padding: 0.2em;
    background: #dbcfbf;
    cursor: pointer;
    color: #50437f;
    border-radius: 0.2em;
    border: 2px solid transparent;
}

.table-cell:hover {
    transition: all 0.3s;
    border: 2px solid #50437f;
}

.a-link {
    color: inherit;
    text-decoration: underline;
    padding: 0 0.2em 0 0.2em;
    border-radius: 0.2em;
    transition: all 0.2s;
}

.a-link:hover {
    background-color: #50437f;
    color: #dbcfbf;
    cursor: pointer;
}

.loader-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    display: inline-flex;
}

.loader {
    color: #322a50;
    font-size: 25px;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: auto;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.3s infinite ease, round 1.3s infinite ease;
    animation: load6 1.3s infinite ease, round 1.3s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
};
