
body {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    background-color: #e0e0e0;
}

.body {
    font-family: 'JetBrains Mono', monospace;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    margin-top: 1em;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.algo-info {
    align-self: start;
}

.algo-info a {
    color: inherit;
    text-decoration: underline;
    padding: 0 0.2em 0 0.2em;
    border-radius: 0.2em;
    transition: all 0.2s;
}
.algo-info a:hover {
    background-color: #50437f;
    color: #dbcfbf;
    cursor: pointer;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    justify-content: flex-start;
}

.container {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 100%;
}

.total {
    font-size: 0.8em;
    color: #4c5159;
}

.output {
    width: calc(100% - 1em);
    padding: 0.5em;
    border-top: 3px solid #c45f52;
    background: #edd5ce;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.simple-digest {
    word-wrap: break-word;
    width: fit-content;
    max-width: calc(100% - 0.4em);
    // color: #1a3a6e;
    color: blueviolet;
    transition: all 0.3s;
    padding: 0.2em;
}

.simple-digest:hover {
    cursor: pointer;
    text-decoration: underline;
}

.bytes-container {
    background-color: #403735;
    padding: 0.2em;
    border-radius: 3px;
}

.byte-null {
    color: red;
}

.byte-printable {
    color: cyan;
}

.byte-whitespace {
    color: green;
}

.byte-ascii {
    color: rgb(232, 52, 210);
}

.byte-other {
    color: yellow;
}

.button-with-icon {
    font-size: 0.7em;

    width: 3em;
    height: 2em;
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // background-color: #403735;
    padding: 0.1em 0.2em 0.1em 0.2em;
    border-radius: 0.2em;
    border: 1px solid transparent;
    transition: 0.3s;
}

.button-with-icon > img {
    width: 90%;
}

.button-with-icon:hover {
    cursor: pointer;
    transition: 0.3s;
    // background-color: #403735;
}

.button-with-icon:focus {
    box-shadow: 0 0 0 2px #736664;
}
