.base-input {
    font-family: 'JetBrains Mono', monospace;
    background: #dbcfbf;
    padding: 0.2em;
    margin: 0;
    width: calc(100% - 0.4em - 6px);
    color: #50437f;
    border: 3px solid #dbcfbf;
    border-radius: 3px;
    font-size: 0.9em;
    resize: vertical;
    transition: all 0.2s;
}

.wide-input {
    width: 100%;
}

.base-input:focus {
    border-bottom: 3px solid #7d5541;
    outline: none;
}