.enc-params {
    display: grid;
    gap: 0.5em;
    width: 100%;
    grid-template-columns: 25% 35% 40%;
}

.krbEncOpts {
    grid-column-start: 1;
    grid-column-end: 3;
}

.generateKeyOpts {
    grid-column-start: 1;
    grid-column-end: 4;
}

.cipher {
    color: blueviolet;
}

.hmac {
    color: mediumvioletred;
}

.full-cipher {
    padding: 0.2em;
    word-wrap: break-word;
    width: fit-content;
    max-width: calc(100% - 0.4em);
    transition: all 0.3s;
}

.full-cipher:hover {
    cursor: pointer;
    background: #9cb8e6;
    border-radius: 0.2em;
}
