
body {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    background-color: #e0e0e0;
}

.body {
    font-family: 'JetBrains Mono', monospace;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}