name: Check
on:
  pull_request:
    branches:
      - main
jobs:
  check:
    name: Check code
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: 'Add nightly channel'
      run: 'rustup toolchain install nightly'

    - name: 'Add nightly fmt'
      run: 'rustup component add rustfmt --toolchain nightly-x86_64-unknown-linux-gnu'

    - name: 'Fmt'
      run: 'cargo +nightly fmt --all -- --check'

    - name: 'Clippy'
      run: 'cargo clippy --all-targets -- -D warnings'

    - name: 'Tests'
      run: 'cargo test'

    - name: 'Add WASM target'
      run: 'rustup target add wasm32-unknown-unknown'

    - name: 'Build WASM'
      run: 'cargo build --target wasm32-unknown-unknown'